@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background: #f1f4f9;
    font-family: 'Notosans KR', sans-serif;
  }
  @font-face {
    font-family: 'Notosans KR';
    src: url('/fonts/NotoSansKR-Regular.otf');
  }
}
